.button-secondary {
  display: block;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: $special_dark-grey;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: $basic_grey;
  border: none;
  width: 100%;
  padding: 10px 20px;
  position: relative;
  z-index: 10;
  cursor: pointer;
  transition: background-color $anim-slow, color $anim-fast;
  overflow: hidden;
  overflow-wrap: break-word;
}

.button-secondary:hover,
.button-secondary:focus-visible,
.button-secondary:active {
  background-color: $special_grey-2;
}

.button-secondary:disabled {
  opacity: 0.3;
  cursor: unset;
}
