.button-primary {
  display: block;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: $basic-white;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  background-color: $basic_green;
  border: none;
  width: 100%;
  padding: 10px 20px;
  position: relative;
  z-index: 10;
  cursor: pointer;
  transition: background-color $anim-slow, color $anim-fast;
}

.button-primary:hover {
  background-color: $basic_green-2;
}

.button-primary:focus-visible {
  background-color: $basic_green-2;
  outline: 2px solid $outline-color;
  outline-offset: -1px;
}

.button-primary:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-primary--hero {
  @media (min-width: $bp_tablet) {
    min-width: 244px;
    width: min-content; /* Задано ограничение, т.к. в макете справа от кнопки находится визуально значимый элемент - кот на крышке банки, который к тому же является логотипом всего сайта. Перекрывать его кнопкой нельзя. */
    padding: 14px 26px;
    font-size: 20px;
    line-height: 26px;
  }
}

.button-primary--form {
  width: calc(100% - 20px - 20px);
  margin-left: 20px;
  margin-right: 20px;

  @media (min-width: $bp_tablet) {
    width: 284px;
    font-size: 20px;
    line-height: 26px;
    margin-left: 0;
    margin-right: 0;
    padding-top: 16px;
    padding-bottom: 12px;
  }

  @media (min-width: $bp_desktop) {
    width: 570px;
  }
}
