.card-showmore {
  display: block;
  padding: 78px 0 20px;
  position: relative;
  height: min-content;

  @media (min-width: $bp_tablet) {
    width: 324px;
    margin-top: 79px;
    outline: 2px solid $basic_grey;
    min-height: 426px; /* высота обычной карточки 511px - воздух сверху 80px */
    padding: 160px 37px 38px;
    display: flex; /* Для размещения кнопки внизу псевдокарточки. */
    flex-direction: column;
    margin-bottom: 6px;
  }

  @media (min-width: $bp_desktop) {
    width: 245px;
    min-width: 245px;
    padding-top: 151px;
    min-height: 427px;
    // height: 426px;
    margin-bottom: 6px;
    padding-bottom: 38px;
  }

  &::before { /* Горизонтальная часть плюса. */
    content: "";
    display: block;
    width: 30px;
    height: 2px;
    background-color: $special_gray-7;
    position: absolute;
    top: 39px;
    left: calc(50% - 15px);

    @media (min-width: $bp_tablet) {
      width: 60px;
      left: 131px;
      top: 78px;
    }

    @media (min-width: $bp_desktop) {
      left: 92px;
    }
  }

  &::after { /* Вертикальная часть плюса. */
    content: "";
    display: block;
    width: 2px;
    height: 30px;
    background-color: $special_gray-7;
    position: absolute;
    top: 25px;
    left: calc(50% - 1px);

    @media (min-width: $bp_tablet) {
      height: 60px;
      left: 162px;
      top: 48px;
    }

    @media (min-width: $bp_desktop) {
      left: 123px;
    }
  }
}

.card-showmore__title {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 7px;
  padding-left: 1em;
  padding-right: 1em;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: $special_black;
  text-transform: uppercase;
  text-align: center;
  overflow: hidden;
  overflow-wrap: break-word;

  @media (min-width: $bp_tablet) {
    font-size: 20px;
    line-height: 24px;
    padding-left: 40px;
    padding-right: 40px;
    margin-bottom: 21px;
  }

  @media (min-width: $bp_desktop) {
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 24px;
  }
}

.card-showmore__description {
  display: block;
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 12px;
  line-height: 16px;
  color: $special_dark-grey;
  text-align: center;
  margin-bottom: 22px;
  overflow: hidden;
  overflow-wrap: break-word;

  @media (min-width: $bp_tablet) {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 1em;
    flex-grow: 1;
  }

  @media (min-width: $bp_desktop) {
    padding-left: 0;
    padding-right: 0;
  }
}
