.input {
  position: relative;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: $special_dark-grey;
  text-transform: uppercase;
  width: 100%;
  display: flex;
  align-items: center;
  gap: 13px;
  box-sizing: border-box;

  @media (min-width: $bp_tablet) {
    font-size: 20px;
    line-height: 20px;
  }

  &:hover input {
    border-color: $special_grey;
  }
}

.input label { /* label любого input */
  width: max-content;
  max-width: 50%;
  overflow-wrap: break-word;
}

/* Собственно input, однострочное поле ввода строки. */
.input--input {
  width: 100%;
}

/* Поле ввода у любых элементов input. */
.input__input:focus-visible {
  outline: 2px solid $special_dark-grey;
}

.input--input input,
.input--icon input {
  border: 1px solid $special_grey-5;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  text-transform: uppercase;
  padding: 14px 15px 12px;
  width: calc(100% - 20px - 20px);
  flex-grow: 1;
  position: relative;

  @media (min-width: $bp_tablet) {
    padding: 11px 20px 11px;
  }

  &:invalid:not(:placeholder-shown) {
    outline: 2px solid #ff8282;
  }
}

.input--icon .input__input {
  padding-right: 43px;
  overflow: hidden;

  @media (min-width: $bp_tablet) {
    padding-bottom: 10px;
  }
}

.input--email,
.input--phone {
  @media (min-width: $bp_desktop) {
    width: 569px;
  }
}

.input--email label,
.input--phone label {
  @media (min-width: $bp_tablet) {
    padding-top: 4px;
  }
}

.input--email input,
.input--phone input {
  @media (min-width: $bp_tablet) {
    padding-top: 13px;
    padding-bottom: 10px;
  }
}

/* Поле ввода с иконкой. */
.input--icon {
  &::after {
    content: "";
    position: absolute;
    background-color: $basic_black;
    right: 0;
    transform: translateX(calc(-22px + 50%));
  }

  &:has(input:focus-visible)::after {
    background-color: $basic-green;
  }

  &:has(input:invalid:not(:placeholder-shown))::after {
    background-color: $status_error;
  }
}

.input--email::after {
  mask: url("../../images/icons/stack.svg#email");
  width: 17px;
  height: 13px;
}

.input--phone::after {
  mask: url("../../images/icons/stack.svg#phone");
  width: 15px;
  height: 15px;
}

/* Многострочное поле ввода. */
.input--textarea {
  width: calc(100% - 20px - 20px);
  resize: none;
  margin-left: 20px;
  border: 1px solid $special_grey-5;
  padding: 18px 13px 13px 15px;
  margin-bottom: 55px;

  @media (min-width: $bp_tablet) {
    margin-top: 86px;
    margin-left: 70px;
    width: calc(100% - 70px - 70px);
    height: 175px;
    padding: 17px 19px 17px;
    margin-bottom: 66px;
  }

  @media (min-width: $bp_desktop) {
    margin-top: 77px;
    margin-left: 0;
    width: 100%;
    padding-top: 14px;
    margin-bottom: 72px;
  }

  &:focus-visible {
    outline: 2px solid $special_dark-grey;
  }
}

.input--input input {
  overflow: hidden;
  appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  width: 0;
  height: 0;
}
