.section-title {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 38px;
  margin-left: 0;
  margin-right: auto;
  max-width: 100%;
  overflow: hidden;
  overflow-wrap: break-word;

  @media (min-width: $bp_tablet) {
    font-size: 60px;
    line-height: 75px;
    margin-bottom: 32px;
  }
}

.section-title--hero {
  color: $basic-white;
  font-size: 36px;
  line-height: 36px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 21px;
  text-align: center;
  position: relative;
  z-index: 10;

  @media (min-width: $bp_tablet) {
    color: $basic-black;
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 36px;
    margin-left: 0;
    margin-right: auto;
    text-align: left;
    max-width: 500px;
  }
}

.section-title--example {
  margin-bottom: 40px;

  @media (min-width: $bp_tablet) {
    margin-bottom: 50px;
  }

  @media (min-width: $bp_desktop) {
    margin-top: 2px;
    margin-bottom: 135px;
  }
}
