.title-inner {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  width: calc(100% - 20px - 20px);
  margin-left: 20px;
  margin-top: 29px;
  margin-bottom: 37px;
  overflow: hidden;
  overflow-wrap: break-word;

  @media (min-width: $bp_tablet) {
    font-size: 60px;
    line-height: 60px;
    width: calc(100% - 70px - 70px);
    margin-left: 70px;
    margin-bottom: 54px;
  }

  @media (min-width: $bp_desktop) {
    width: 100%;
    margin-top: 76px;
    margin-left: 0;
  }
}

.title-inner--program {
  @media (min-width: $bp_tablet) {
    line-height: 72px;
    margin-top: 22px;
    margin-bottom: 48px;
  }

  @media (min-width: $bp_desktop) {
    margin-top: 70px;
  }
}

.title-inner--catalog {
  margin-top: 27px;
  line-height: 42px;
  margin-bottom: 35px;

  @media (min-width: $bp_tablet) {
    width: 708px;
    margin-left: calc((100% - 100vw) / 2 + 30px);
    margin-right: auto;
    margin-bottom: 77px;
    margin-top: 23px;
    line-height: 73px;
  }

  @media (min-width: $bp_desktop) {
    margin-left: calc((100% - $desktop_width) / 2);
    margin-top: 71px;
  }
}

.title-inner--annotation {
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  width: 230px;
  margin-top: 0;
  line-height: 18px;
  margin-left: 20px;
  margin-bottom: 37px;
  text-transform: uppercase;
  overflow-wrap: break-word;

  @media (min-width: $bp_tablet) {
    font-size: 20px;
    line-height: 30px;
    width: 330px;
    margin-left: 70px;
    margin-bottom: 65px;
  }

  @media (min-width: $bp_desktop) {
    margin-left: 0;
    margin-bottom: 66px;
  }
}
