.additives-list {
  @include normalize-ul;
  display: flex;
  flex-direction: column;
  background-color: $special_grey; /* Цвет линий */
  gap: 1px; /* Внутренние линии */
  padding-top: 1px; /* Верхняя линия */
  padding-bottom: 1px; /* НИжняя линия */
  font-size: 16px;
  line-height: 16px;
  color: $special_dark-grey-2;

  @media (min-width: $bp_tablet) {
    outline: 1px solid $special_grey;
    padding-left: 1px;
    padding-right: 1px;
    /* Альтернативный способ:
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 1px;
    margin-bottom: 1px;
    */
  }

  @media (min-width: $bp_desktop) {
    outline: none;
    padding-left: 0;
    padding-right: 0;
    height: min-content; /* Предотвращает распространение цвета фона на всё пространство вниз, в случае увеличения высоты соседнего изображения. */
    width: 896px;
  }
}

.additives-list__item {
  display: block;
  background-color: $basic_white;
  padding-top: 13px;
  padding-bottom: 19px;

  @media (min-width: $bp_tablet) {
    padding: 26px 37px 28px;
  }

  @media (min-width: $bp_desktop) {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    padding-left: 0;
    padding-right: 0;
    padding-top: 15px;
    padding-bottom: 12px;
  }
}

.additives-list__line {
  display: flex;
  flex-wrap: wrap;
  row-gap: 10px;
  padding-bottom: 10px;
  justify-content: space-between;
  margin-bottom: 6.5px;

  @media (min-width: $bp_tablet) {
    margin-bottom: 14px;
  }

  @media (min-width: $bp_desktop) {
    width: 610px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 12px;
    padding-bottom: 5px;
    margin-bottom: 7px;
  }
}

.additives-list__name {
  font-family: "Oswald", "Arial", sans-serif;
  color: $special_dark-grey-2;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  display: inline-block;
  width: 100%;
  overflow-wrap: break-word;

  @media (min-width: $bp_tablet) {
    width: 316px; /* 632px (внутренний размер блока) / 2. */
    padding-right: 1em;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $bp_desktop) {
    width: 325px;
    padding-right: 5px;
    transform: translateY(-2px);
  }
}

.additives-list__packing {
  color: $special_dark-grey;
  font-size: 14px;
  line-height: 14px;
  display: inline-block;
  flex-grow: 1;
  max-width: 50%;
  overflow-wrap: break-word;

  @media (min-width: $bp_tablet) {
    text-align: right;
    max-width: 224px; /* 632px (100%) - 316px (50%) - 92px. */
    font-size: 16px;
    line-height: 16px;
    flex-grow: 1;
    margin-top: 3px;
    margin-bottom: auto;
    padding-right: 5px;
  }

  @media (min-width: $bp_desktop) {
    width: 200px;
    padding-bottom: 2px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
  }
}

.additives-list__price {
  color: $special_dark-grey;
  font-size: 14px;
  line-height: 14px;
  display: inline-block;
  text-align: right;
  max-width: 50%;
  overflow-wrap: break-word;

  @media (min-width: $bp_tablet) {
    width: 87px;
    padding-left: 5px;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $bp_desktop) {
    width: 84px;
    text-align: right;
  }
}

/* В макете, по какой-то причине, выключка колонки с ценами в десктопной версии отличается от планшетной и мобильной (по первой цифре и по знаку рубля соответственно). Подгонять ширину всей колонки и выключать ее по левому краю нецелесообразно - при четырехзначной цене нужно изменять ширину всей колонки, а для этого нужно изменять всю разметку блока. Поэтому предполагается точечно двигать блок цены в зависимости от количества цифр с помощью уточнящих классов (скриптом).*/

.additives-list__price--two-digits {
  @media (min-width: $bp_desktop) {
    padding-right: 9px;
  }
}

.additives-list__price--one-digit {
  @media (min-width: $bp_desktop) {
    padding-right: 18px;
  }
}
