.cooperate {
  padding: 26px 20px;
  display: flex;
  justify-content: space-between;
  gap: 10px; /* Двойная ширина пробела прилегающей крупной надписи. */
  z-index: 10;
  background-color: $basic_white;

  @media (min-width: $bp_tablet) {
    padding: 60px 70px;
    gap: 90px; /* Половина ширины заголовка. */
  }

  @media (min-width: $bp_desktop) {
    position: absolute;
    width: 565px;
    height: 199px;
    padding: 60px 78px 60px 80px;
    top: 95px;
    left: calc(50% - 610px);
    gap: 70px;
  }
}

.cooperate__encourage {
  color: $special_black;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $bp_tablet) {
    font-size: 20px;
    line-height: 26px;
    margin-top: 3px;
    max-width: 180px;
  }
}

.cooperate__address {
  color: $special_dark-grey;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
  min-width: 140px;

  @media (min-width: $bp_tablet) {
    max-width: 180px;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

.cooperate__address-line {
  margin: 0;

  @media (min-width: $bp_tablet) {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
  }

  @media (min-width: $bp_tablet) {
    text-align: left;
  }
}
