.footer-coordinates {
  background-color: $basic_grey;

  @media (min-width: $bp_desktop) {
    position: relative;
    padding-top: 95px;
    padding-bottom: 106px;
  }
}

.footer-coordinates__map {
  position: relative;
  width: 100%;
  height: 100%;

  @media (min-width: $bp_desktop) {
    position: absolute;
    top: 0;
    min-height: 400px;
  }
}

.footer-coordinates__map-raster {
  display: block;
  width: 100%;
  height: 100%;

  @media (min-width: $bp_desktop) {
    // left: calc(50% - $bp_tablet / 2);
    position: absolute;
    overflow: hidden;
  }

  @media (min-width: $bp_desktop) {
    /* Вариант: В десктопной версии карта-подложка не тянется, потому что у пользователя может быть очень ширикий экран, в этом случае увеличение высоты блока подложки может сделать футер недоступным, а увеличение только ширины блока подложки может сделать ее плохо считываемой (мало деталей). При этом iframe тянется до краев экрана.*/
    /* left: calc(50% - $bp_desktop / 2); */
    position: absolute;
    top: 0;
    left: 0;
  }
}

.footer-coordinates__map-image {
  width: 100%;

  @media (min-width: $bp_desktop) {
    min-height: 400px;
    height: 100%;
    object-fit: cover;
  }
}

.footer-coordinates__iframe iframe {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
}
