/* Контейнеры страницы form. */

.form-container { /* Надконтейнер всей страницы. */
  /* В десктопе центрует стакан на странице. */
  position: relative;

  @media (min-width: $bp_desktop) {
    width: $desktop_width;
    margin-left: auto;
    margin-right: auto;
    outline: 1px solid red;
  }
}

.form-container__cat-all { /* Контейнер - Все данные о коте. */
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: calc(100% - 20px - 20px);
  margin-left: 20px;

  @media (min-width: $bp_tablet) {
    width: calc(100% - 70px - 70px);
    margin-left: 70px;
  }

  @media (min-width: $bp_desktop) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 80px;
    width: $desktop_width;
    margin-left: 0;
    left: 0;
    transform: translateX(calc(50% - 1220px / 2));
  }
}

.form-container__cat-passport { /* Подконтейнер - "Паспорт" кота: кличка, вес, возраст. */
      background-color: rgba(0, 255, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 13px;

  @media (min-width: $bp_tablet) {
    gap: 17px;
    margin-bottom: 47px;
  }

  @media (min-width: $bp_desktop) {
    width: 570px;
    margin-bottom: 45px;
  }
}

.form-container__cat-goal { /* Надконтейнер - Цель программы: похудение, набор, нужна консультация. */
      background-color: rgba(0, 0, 255, 0.1);
  padding-top: 23px;
  padding-bottom: 18px;
  display: flex;
  flex-direction: column;
  gap: 13px;
  position: relative;
  margin-bottom: 5px;

  @media (min-width: $bp_tablet) {
    padding: 22px 25px 26px 26px;
    margin-bottom: 45px;
  }

  @media (min-width: $bp_desktop) {
    padding: 26px 25px 26px 28px;
  }

  &::before,
  &::after {
    content: "";
    display: block;
    height: 1px;
    width: 100vw;
    background-color: $special_border-3;
    position: absolute;
    top: 0;
    left: calc(calc(-1 * (100vw - 100%) / 2));
  }

  &::after {
    top: 100%;
  }

  @media (min-width: $bp_tablet) {
    outline: 1px solid $special_border-3;

    &::before,
    &::after {
      content: none;
    }
  }

  @media (min-width: $bp_desktop) {
    width: 570px;
  }
}

.form-container__owner-info { /* Контейнер - Информация о владельце */
     background-color: rgba(255, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 14px;
  width: calc(100% - 20px - 20px);
  margin-left: 20px;
  margin-bottom: 5px;

  @media (min-width: $bp_tablet) {
    width: calc(100% - 70px - 70px);
    gap: 19px;
    margin-left: 70px;
    margin-top: 74px;
    margin-bottom: 66px;
  }

  @media (min-width: $bp_desktop) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 81px;
    width: 100%;
    margin-left: 0;
    margin-top: 77px;
    margin-bottom: 70px;
  }
}

.form-container__additives { /* Контейнер - список добавок. */
     background-color: rgba(255, 255, 0, 0.1);
  margin-left: 20px;
  width: calc(100% - 20px - 20px);
  display: flex;
  flex-direction: column;
  gap: 2px;
  margin-bottom: 24px;

  @media (min-width: $bp_tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 32px;
    column-gap: 58px;
    width: calc($bp_tablet - 70px - 70px);
    margin-left: 70px;
    margin-top: 55px;
    margin-bottom: 53px;
  }

  @media (min-width: $bp_desktop) {
    width: 100%;
    column-gap: 40px;
    margin-left: 0;
    margin-bottom: 60px;
    column-gap: 125px;
  }
}

.form-container__order { /* Контейнер - кнопка заказа с комментарием */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 21px;
  margin-bottom: 32px;

  @media (min-width: $bp_tablet) {
    flex-direction: row;
    margin-left: 70px;
    gap: 60px;
    margin-bottom: 60px;
  }

  @media (min-width: $bp_desktop) {
    margin-left: 0;
    gap: 80px;
    margin-bottom: 80px;
  }
}

.form-container__comment {
  font-size: 14px;
  line-height: 16px;
  width: max-content;
  max-width: calc(100% - 20px - 20px);
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  @media (min-width: $bp_tablet) {
    margin-left: 0;
    width: calc($bp_tablet - 70px - 70px - 284px - 60px);
    text-align: left;
    padding-bottom: 3px;
    align-self: center;
    letter-spacing: 0.8px; /* При экспорте для Pixel Perfect надпись выглядит будто с кернингом, однако в свойствах блока в Figma его нет. */
  }

  @media (min-width: $bp_desktop) {

  }
}
