.header {
  display: flex;
  flex-direction: column;
  padding: 13px 0 0;
  border-bottom: 1px solid $special_border-2;
  background-image: url("../../images/logo-text.svg");
  background-position: center 23px;
  background-repeat: no-repeat;
  background-size: 101px 18px;

  @media (min-width: $bp_tablet) {
    padding: 25px 10px;
    border-bottom: none;
    flex-direction: row;
    justify-content: space-between;
    background-image: none;
  }

  @media (min-width: $bp_desktop) {
    width: $desktop_width;
    margin-left: auto;
    margin-right: auto;
    padding: 55px 0 0;
  }
}

.header__logo {
  display: block;
  transition: opacity $anim-slow;
  outline-offset: 5px;

  /* Исправвляет дефолтную рамку вокруг img логотипа(инлайнового). Если не задавать ширину, то браузерный фокус подсвечивает весь блок, а он тянется на ширину родителя. Это не соответствует разметке, и к тому же поверх будет находиться кнопка меню. width: min-content использовать нельзя, в блоке логотипа нет содержимого. Потэтому ширина задана принудительно. */
  width: 33px;
  height: 38px;

  @media (min-width: $bp_tablet) {
    width: 176px;
    height: 50px;
  }

  @media (min-width: $bp_desktop) {
    width: 202px;
    height: 59px;
  }

  /* Позиционирование логотипа */
  margin-left: 20px;
  margin-bottom: 14px;

  @media (min-width: $bp_desktop) {
    margin-left: 0;
    margin-bottom: 0;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
