.header-nav {
  position: relative;

  @media (min-width: $bp_tablet) {
    max-width: calc(100vw - 194px - 37px); /* Меню расположено по правому краю шапки; логотип с шириной 174px и левым margin 20px используем в качестве левого margin меню; 23px - аналог отступа между элементами меню, 15px - дополнительный воздух от меню до логотипа. */
    position: relative;
  }

  @media (min-width: $bp_desktop) {
    width: calc($desktop_width / 2 - 27px); /* 27px - значение column-gap; используется как визуальный "magrin" до левой границы зеленого "поля".*/
  }
}

.header-nav__button-menu {
  cursor: pointer;
  width: 31px; /* 21px по макету + по 5px на область тапа */
  height: 31px;
  border: none;
  background-color: transparent;
  background-image: url("../../images/icons/stack.svg#header-burgermenu");
  background-size: 25px 25px;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: -49px;
  right: 17px;

  @media (min-width: $bp_tablet) {
    display: none;
  }
}

.header-nav__list {
  @include normalize-ul;
  border-bottom: 1px solid $special_border;

  @media (min-width: $bp_tablet) {
    display: flex;
    flex-direction: row;
    column-gap: 27px; /* column-gap вместо обычного gap - чтобы избежать слишком большого "интерлиньяжа" между строками меню при переполнении. */
    flex-wrap: wrap;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: 22px;
    border-bottom: none;
  }

  @media (min-width: $bp_desktop) {
    max-width: calc($desktop_width / 2);
    margin-right: 0;
    margin-top: 6px;
    font-size: 20px;
    column-gap: 27px;
    letter-spacing: 1px; /* Не указан в Figma, но нужен по PP. */
  }
}

.header-nav__list--no-js { /* По умолчанию, без JS, меню видно. */
  display: flex;
  flex-direction: column;
}

.header-nav__list--index {
  @media (min-width: $bp_desktop) {
    color: $basic_white;
  }

  &::before {
    @media (min-width: $bp_desktop) {
      /* Формирует зеленый фон от верха меню (внахлест) до верхнего края страницы. */
      content: "";
      display: block;
      background-color: $special_hero-bg;
      position: absolute;
      height: 600px; /* С запасом, хватит на ~10 строк меню. */
      width: 50vw;
      top: -60px;
      left: -27px;
      z-index: -1;
    }
  }
}

.header-nav__list--index .header-nav__link--current {
  @media (min-width: $bp_desktop) {
    &::after {
      background-color: $basic_white;
    }
  }
}

.header-nav__item {
  display: block;
  text-align: center;
  border-top: 1px solid $special_border;

  @media (min-width: $bp_tablet) {
    border: none;
  }
}

.header-nav__link {
  display: block;
  padding-top: 24px;
  padding-bottom: 21px;
  padding-left: 22px; /* Боковые поля не могут быть меньше вертикальных */
  padding-right: 22px;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  transition: opacity $anim-slow;
  max-width: 100%;
  overflow: hidden;
  overflow-wrap: break-word;

  @media (max-width: $bp_mobile-max) {
    background-color: $basic_white;
  }

  @media (min-width: $bp_tablet) {
    font-size: 18px;
    line-height: 24px;
    padding-top: 14px;
    padding-bottom: 10px;
    padding-left: 3px;
    padding-right: 3px;
    max-width: 550px;
    position: relative;
    z-index: 10;
  }

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.header-nav__list--index .header-nav__link:hover {
  @media (min-width: $bp_desktop) {
    color: rgba(255, 255, 255, 0.6);
  }
}

.header-nav__list--index .header-nav__link:active {
  @media (min-width: $bp_desktop) {
    color: rgba(255, 255, 255, 0.3);
  }
}

.header-nav__link--current {
  position: relative;
  /* Остальные свойства вынесены в медиавыражения, чтобы не создавать псевдоэлемент в DOM-дереве мобильной версии. */

  @media (min-width: $bp_tablet) {
    &::after {
      content: "";
      width: 100%;
      height: 2px;
      background-color: $basic_green;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }

  @media (min-width: $bp_desktop) {
    &::after {
      content: "";
      width: calc(100% - 9px);
      height: 2px;
      background-color: $basic_green;
      position: absolute;
      left: 6px;
      bottom: 0;
    }
  }
}

.header-nav--no-js .header-nav__button-menu {
  @media (max-width: $bp_mobile-max) {
    display: none;
  }
}

.header-nav--no-js .header-nav__list {
  position: static;
}

.header-nav--closed .header-nav__list {
  @media (max-width: $bp_mobile-max) {
    display: none;
  }
}

.header-nav--opened .header-nav__button-menu {
  background-image: url("../../images/icons/stack.svg#header-closemenu");
  background-size: 20px 20px;
  right: 14px;
}

.header-nav--opened .header-nav__list {
  @media (max-width: $bp_mobile-max) {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
  }
}
