.hero {
  position: relative;
  padding: 28px 20px 20px 20px;

  @media (min-width: $bp_tablet) {
    padding-left: 120px;
    padding-right: 120px;
    padding-bottom: 526px;
    background: none;
  }

  @media (min-width: $bp_desktop) {
    width: $desktop_width;
    margin-left: auto;
    margin-right: auto;
    min-height: 580px; /* Защита от недополнения. */
    padding-top: 112px;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 184px;
    background: none;
    margin-bottom: 82px;
  }

  /* Фон с котом (мобильная версия) */
  background-image:
    image-set(
    url("../../images/index-background-mobile@1x.webp") type("image/webp") 1x,
    url("../../images/index-background-mobile@2x.webp") type("image/webp") 2x,
    url("../../images/index-background-mobile@1x.jpg") type("image/jpg") 1x,
    url("../../images/index-background-mobile@2x.jpg") type("image/jpg") 2x
  );
  background-position: top center;
  background-size: auto calc(100% - 199px);
  background-repeat: no-repeat;
  background-color: $special_hero-bg; /* Подобран максимально близко к фону изображения с котом. */

  &::before { /* Белая плашка под банкой (мобильная, десктопная версия) */
    content: "";
    display: block;
    width: 100%;
    height: 199px;
    background-color: $basic-white;
    position: absolute;
    bottom: 0;
    left: 0;

    @media (min-width: $bp_tablet) {
      display: none; /* В планшетной и десктопной версии не нужна, весь фон блока уже белый. */
    }

    @media (min-width: $bp_desktop) { /* В десткопной версии - фоновое изображение с котом. */
      content: "";
      display: block;
      background-color: $special_hero-bg;
      position: absolute;
      min-height: 694px;
      width: 50vw;
      bottom: 0;
      left: calc($desktop_width / 2);
      background-size: auto 100%;
      object-fit: cover;
      background-image:
        image-set(
        url("../../images/index-background-desktop@1x.webp") type("image/webp") 1x,
        url("../../images/index-background-desktop@2x.webp") type("image/webp") 2x,
        url("../../images/index-background-desktop@1x.jpg") type("image/jpg") 1x,
        url("../../images/index-background-desktop@2x.jpg") type("image/jpg") 2x
      );
      /* Изображение отредактировано: на правую часть добавлен градиент, переходящий в фоновый цвет. Пользователь не будет видеть шов между краем изображения и фоном. Также плавности можно добиться, если на краях сделать градиент прозрачности (формат png, webp).*/
      background-position-x: calc(100% + 320px); /* Позиционирование фоновой картинки по правом краю блока. */
      background-repeat: no-repeat;
      overflow: hidden;
    }
  }

  &::after { /* Банка в блоке Hero. */
    content: "";
    background-image:
      image-set(
      url("../../images/index-can-mobile@1x.webp") type("image/webp") 1x,
      url("../../images/index-can-mobile@2x.webp") type("image/webp") 2x,
      url("../../images/index-can-mobile@1x.png") type("image/png") 1x,
      url("../../images/index-can-mobile@2x.png") type("image/png") 2x
    );
    background-repeat: no-repeat;
    display: block;
    position: absolute;
    bottom: 63px;
    left: calc(50% - (280px / 2));
    width: 280px;
    height: 270px;
    background-size: 100%;

    @media (min-width: $bp_tablet) {
      background-image:
        image-set(
        url("../../images/index-can-tablet@1x.webp") type("image/webp") 1x,
        url("../../images/index-can-tablet@2x.webp") type("image/webp") 2x,
        url("../../images/index-can-tablet@1x.png") type("image/png") 1x,
        url("../../images/index-can-tablet@2x.png") type("image/png") 2x
      );
      bottom: 0;
      left: 30px;
      width: 709px;
      height: 609px;
    }

    @media (min-width: $bp_desktop) {
      background-image:
        image-set(
        url("../../images/index-can-desktop@1x.webp") type("image/webp") 1x,
        url("../../images/index-can-desktop@2x.webp") type("image/webp") 2x,
        url("../../images/index-can-desktop@1x.png") type("image/png") 1x,
        url("../../images/index-can-desktop@2x.png") type("image/png") 2x
      );
      bottom: 52px;
      left: 447px;
      width: 552px;
      height: 499px;
    }
  }
}

.hero__slogan {
  @media (min-width: $bp_tablet) {
    color: $basic-black;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 48px;
    font-size: 20px;
    line-height: 20px;
    max-width: unset;
    text-align: left;
    padding-top: 4px; /* Без поля съедаются бреве над "й". */
  }

  @media (min-width: $bp_desktop) {
    margin-bottom: 50px;
    max-width: 460px;
  }

  color: $basic_white;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 21px; /* В Figma 14px, но при таком значении отсутствует интерлиньяж. */
  text-align: center;
  text-transform: uppercase;
  max-width: 240px; /* Заголовок более нижнего уровня (этот) обычно занимает меньше места в строке, чем более заголовок более высокого уровня. */
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 298px;
  position: relative;
  z-index: 10;
  overflow: hidden;
  overflow-wrap: break-word;
}
