.programs {
  @media (min-width: $bp_tablet) {
    margin: 0 30px 46px;
  }

  @media (min-width: $bp_desktop) {
    margin: 0 auto 73px;
    width: $desktop_width;
  }
  margin: 0 20px 22px;
}

.programs__wrapper {
  @media (min-width: $bp_tablet) {
    gap: 30px;
  }

  @media (min-width: $bp_desktop) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
  }
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.programs__card {
  @media (min-width: $bp_tablet) {
    min-height: 372px;
    padding: 77px 320px 60px 52px; /* В планшетной версии padding-right резервирует место для декоративного кота с кругом. */
  }

  @media (min-width: $bp_desktop) {
    width: 570px;
    min-height: 374px;
    padding: 77px 52px 59px;
  }
  background-color: $basic_grey;
  background-repeat: no-repeat;
  min-height: 266px;
  padding: 30px 20px 21px;
  position: relative;

  &::before { /* Зеленый круг под фоном */
    @media (min-width: $bp_tablet) {
      width: 200px;
      height: 200px;
      top: 92px;
      left: calc(100% - 200px - 63px); /* right не работает, т.к. перебивается общим правилом left. 200px - ширина псевдоэлемента, 63px - правое поле родительского элемента. */
    }

    @media (min-width: $bp_desktop) {
      width: 100px;
      height: 100px;
      top: 47px;
      left: 52px;
    }

    content: "";
    display: block;
    position: absolute;
    top: 24px;
    left: 20px;
    width: 50px;
    height: 50px;
    background-color: $basic_green;
    border-radius: 50%;
  }

  &::after { /* Черный кот слева от названия программы. */
    content: "";
    display: block;
    position: absolute;
    /* Значения по умолчанию, для разных изображений может понадобиться подстройка в уточняющих классах. */
    width: 50px;
    height: 50px;
    top: 20px;
    left: 20px;
  }
}

.programs__card--slim {
  &::after {
    @media (min-width: $bp_tablet) {
      width: 140px;
      height: 194px;
      /* Центрует любое изображение в ::after посередние круга ::before. */
      /* 100px = половина круга ::before; -3px = подгонка под PP. */
      left: calc(100% - 60px - 100px - 3px);
      top: calc(80px + 100px - 3px);
      transform: translate(-50%, -50%);
    }

    @media (min-width: $bp_desktop) {
      width: 70px;
      height: 97px;
      top: 41px;
      left: 67px;
      transform: none;
    }
    position: absolute;
    background-image: url("../../images/icons/stack.svg#program-slim");
  }
}

.programs__card--pro::after {
  @media (min-width: $bp_tablet) {
    width: 268px;
    height: 112px;
    left: calc(100% - 60px - 100px - 3px);
    top: calc(80px + 100px - -11px);
    transform: translate(-50%, -50%);
  }

  @media (min-width: $bp_desktop) {
    width: 134px;
    height: 56px;
    top: 67px;
    left: 33px;
    transform: none;
  }
  background-image: url("../../images/icons/stack.svg#program-pro");
  /* Подгонка под конкретное изображение программы. */
  width: 67px;
  height: 28px;
  top: 35px;
  left: 13px;
}

.programs__name {
  @media (min-width: $bp_tablet) {
    font-size: 36px;
    line-height: 36px;
    margin-left: 0;
    margin-bottom: 22px;
  }

  @media (min-width: $bp_desktop) {
    margin-left: 162px;
    margin-bottom: 73px;
  }
  margin-top: 0;
  margin-bottom: 29px;
  margin-left: 70px;
  max-width: calc(100% - 50px);
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  hyphens: auto;
}

.programs__text {
  @media (min-width: $bp_tablet) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 37px;
  }

  @media (min-width: $bp_desktop) {
    margin-bottom: 11px;
    border-bottom: none;
  }

  @include common-text;
  margin-top: 0;
  border-bottom: 1px solid $special_border-2;
  padding-bottom: 22px; /* От текста до черты. */
  margin-bottom: 20px; /* От черты до следующего блока (ссылки со стрелкой). */
}

.programs__link {
  @media (min-width: $bp_tablet) {
    font-size: 20px;
    line-height: 1;
    max-width: 340px;
  }

  @media (min-width: $bp_desktop) {
    max-width: 470px;
  }
  display: block;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  width: max-content;
  min-width: 134px;
  max-width: 100%;
  text-transform: uppercase;
  padding-right: 50px; /* Место под стрелку */
  /* TODO: стрелка */
  position: relative;
  cursor: pointer;
}

.programs__link::after { /* Стрелка возле ссылки */
  @media (min-width: $bp_tablet) {
    right: -7px;
    top: 2px;
  }

  @media (min-width: $bp_desktop) {
    right: -7px;
    top: 3px;
  }

  content: "";
  position: absolute;
  display: block;
  width: 32px;
  height: 12px;
  right: 9px;
  top: 1px;
  background-image: url("../../images/icons/stack.svg#arrow-full");
  background-position: -8px;
  background-repeat: no-repeat;
  transition: 0.3s ease-out;
}

.programs__link:hover::after {
  background-position: 0;
}
